:root {
    --DEFAULT_FONT: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif;;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.background {
    background-color: #F8F7F1;
}

.item {
    width: 1050px;
    height: 110px;
    background-color: #FFFAFA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /*padding-left:20px;*/
    /*padding-right:20px;*/
    /*padding-top:5px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
}

.item:hover {
    cursor: pointer;
}

.item_body {
    width: 900px;
    height: 110px;
    background-color: #FFFAFA;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.horizont_float {
    float: left;
}

.bird_name_text {
    color: #2C2921;
    font-weight: normal;
}

.image {
    width: 110px;
}

.audio {
    width: 900px;
    height: 40px;
    vertical-align: bottom;
    display: inline-block;
    outline: none;
}

.audio_item {
    vertical-align: bottom;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
}

.modal {
    z-index: 9999;
    position: absolute;
    top: 20px;
    margin-top: 20px;
    left: 50%;
    width: 700px;
    min-height: 900px;
    padding: 15px;
    border-radius: 5px;
    transform: translate(-50%);
    background-color: #FFFAFA;
}

.modalImageWrapper {
    width: 640px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.modalImage {
    width: 640px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.modalTitle {
    color: #2C2921;
    font-size: 25px;
    font-family: var(--DEFAULT_FONT);
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.modalText {
    color: black;
    font-size: 16px;
    font-family: var(--DEFAULT_FONT);
    font-weight: 100;
    padding: 20px 30px 40px 30px;
    line-height: 1.5;
}

.bg {
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 2500px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.openForm {
    background-color: #FFFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 999;
    position: fixed;
    height: 60px;
    width: 200px;
    top: 40px;
    right: 50px;
}

.openForm:hover {
    cursor: pointer;
}

.openFormTitle {
    color: #381c23;
    font-size: 22px;
    font-family: var(--DEFAULT_FONT);
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.addBirdForm {
    background-color: #FFFAFA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
    width: 800px;
    height: 900px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.addBirdFormButtons {
    bottom: 0;
    right: 0;
    position: absolute;
    horiz-align: right;
    width: 420px;
    height: 100px;
}

.formButton {
    float: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: #f0efe6;
    margin-top: 10px;
    margin-left: 35px;
    width: 150px;
    height: 60px;
    font-size: 23px;
    font-weight: 400;
    color: #381c23;
    text-align: center;
    align-content: center;
    text-align: center;
    vertical-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.formButton:hover {
    cursor: pointer;
}

.buttonTextCancel {
    position:absolute;
    bottom: 47px;
    left: 67px;
}

.buttonTextCreate {
    position:absolute;
    bottom: 47px;
    left: 244px;
}

.addBirtFormTitle {
    color: #381c23;
    font-size: 27px;
    position: absolute;
    height: 35px;
    width: 600px;
    text-align: center;
    margin-left: 105px;
    top: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.formWrapper {
    position: absolute;
    color: #381c23;
    font-size: 19px;
    margin-top: 120px;
    margin-left: 40px;
}

.nameInput {
    font-size: 16px;
    margin-left: 18px;
    padding-left: 2px;
    width: 590px;
    height: 25px;
}

.birdDescription {
    /*background-color: #f0efe6;*/
    margin-top: 30px;
    width: 710px;
    height: 300px;
}

.descriptionLabel {
    position: absolute;
    margin-top: 0;
}

.descriptionInput {
    font-size: 16px;
    margin-left: 113px;
    width: 590px;
    height: 365px;
    resize: none;
}

.birdImageInput {
    position: absolute;
    width: 200px !important;
    height: 30px;
    margin-top: 100px;
}

.birdAudioInput {
    position: absolute;
    width: 200px !important;
    height: 30px;
    margin-top: 190px;
}

.fileInput {
    font-size: 16px;
    margin-top: 10px;
    width: 290px;
    height: 25px;
}